.statistics {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .stat-list {
    list-style: none;
    padding: 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    color: #fff;
  }
  
  .label {
    flex-grow: 1;
    padding: 8px;
    margin-right: 8px;
    background-color: #9c8e8e; 
    border-radius: 4px;
  }
  
  .percentage {
    font-weight: bold;
  }
  
  